<!-- Tab Navigation -->
<div class="tabs-container">
    <div class="tabs">
        <button class="tab active" data-tab="popular-stocks">POPULAR</button>
        <button class="tab" data-tab="metrics">METRICS</button>
        <button class="tab" data-tab="financials">FINANCIALS</button>
        <button class="tab" data-tab="factors">FACTORS</button>
        <button class="tab" data-tab="analyst-estimates">ANALYST ESTIMATES</button>
        <button class="tab" data-tab="news">NEWS</button>
        <button class="tab" data-tab="stock-analyser">STOCK ANALYSER</button>
        <button class="tab" data-tab="watchlist">WATCHLIST</button>
    </div>
    <div class="watchlist-indicator">
        <button id="watchlistToggle">
            <i class="far fa-star"></i> ON WATCHLIST
        </button>
    </div>
</div>
